#intro {
	background: rgba(0,0,0,.7);
	padding: 0;
	border: 0;
}

#intro h1 {
	width: 60%;
	min-height: 500px;
	margin: 5% auto 0;
}
.block {
	display: block;
	margin: 0;
}

#css-controls-demo label {
	display: block;
}

#intro {
	text-align: center;
}

#intro h1 {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 100;
	font-size: 250%;
	line-height: 1em;
}

#intro small {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 400;
	opacity: .8;
	font-size: 60%;
	display: block;
	margin-top: 1em;
}

.slide.image.partial {
	background: none;
}