<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 'bundles/tom32idemo/css/*.css' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        <!-- WebsocketToken -->
        {% block javascripts %}
            {% javascripts 'bundles/tom32idemo/js/*' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script src="/socket.io/socket.io.js"></script>
            <script>
                window.onload = function (e) {
                    var token = document.getElementById('token');
                    console.log(token);
                    if (token) {
                        new Client(token.value);
                    }
                };
            </script>
        {% endblock %}
    </body>
</html>
