{% extends "base.html.twig" %}

{% block title 'Foo action' %}

{% block body %}
    <h1>Foo action</h1>

    <p>Online users:</p>
    <ul id="user-list" class="user-list">
    </ul>
{% endblock body %}