{% extends "base.html.twig" %}

{% block stylesheets %}
    {% stylesheets 'bundles/tom32idemo/css/*.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block title 'Symfony 2 Security & Websockets' %}

{% block body %}
    <h1>Symfony 2 Security &amp; Websockets</h1>

    <p>Online users:</p>
    <ul id="user-list" class="user-list">
    </ul>
{% endblock body %}

{% block javascripts %}
    <script src="/socket.io/socket.io.js"></script>
    {% javascripts 'bundles/tom32idemo/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        window.onload = function (e) { new Client(); };
    </script>
{% endblock %}