{% extends "base.html.twig" %}

{% block title 'Symfony 2 Security & Websockets' %}

{% block body %}
    <h1>Symfony 2 Security &amp; Websockets</h1>

    <p>Online users:</p>
    <ul id="user-list" class="user-list">
    </ul>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function (e) { new Client(); };
    </script>
{% endblock %}